.wrapper
  .header
    .header__upper
      .header__upper__logo
        = link_to  do
          %img{:alt => "note", :src => "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/logo-b84a1f9687168286cb1ca588b5aa4d761cd3f46e79d4ac36f0d331dfb1ed21ba.svg"}/
      %ul
        .header__upper__lists
          %li
            %form.header__upper__lists__note-botton{:action => "/post_texts/new", :method => "get"}
              %input.header__upper__lists__note-botton__submit{:type => "submit", :value => "ãƒŽãƒ¼ãƒˆã‚’æŠ•ç¨¿"}/
          %li
            .header__upper__lists__user-icon
              = link_to "#" do
                = fa_icon ("smile 3x")
          %li
            %form.header__upper__lists__search{:action => "#", :method => "get"}
              %input.header__upper__lists__search__text{:placeholder => "ã‚­ãƒ¼ãƒ¯ãƒ¼ãƒ‰ã‚„ä½œå“åã§æ¤œç´¢", :size => "25", :type => "text"}/
              %input.header__upper__lists__search__botton{:type => "submit", :value => "ðŸ”"}/

    .header__lower
      .header__lower__top
        %ul.header__lower__top__lists
          %li.header__lower__top__list
            = link_to "ãƒ›ãƒ¼ãƒ ", root_path,:style=>"color:white;"
          %li.header__lower__top__list
            = link_to "ãŠã™ã™ã‚", root_path,:style=>"color:white;"
          %li.header__lower__top__list
            = link_to "å…¬å¼ãƒžã‚¬ã‚¸ãƒ³", root_path,:style=>"color:white;"
          %li.header__lower__top__list
            = link_to "å‹Ÿé›†ä¸­", root_path,:style=>"color:white;"
          %li.header__lower__top__list
            = link_to "ãƒ”ãƒƒã‚¯ã‚¢ãƒƒãƒ—", root_path,:style=>"color:white;"
          %li.header__lower__top__list
            = link_to "æ³¨ç›®ã‚«ãƒ†ã‚´ãƒªãƒ¼", root_path,:style=>"color:white;"
          %li.header__lower__top__list
            = link_to "äººæ°—ã‚¿ã‚°", root_path,:style=>"color:white;"
        .header__lower__top__right
          = link_to  do
            = fa_icon("question-circle 3x")

      .header__lower__bottom
        %ul.header__lower__bottom__lists
          %li.header__lower__bottom__list
            = link_to "ãƒžãƒ³ã‚¬", root_path,:style=>"color:#787c7b;"
          %li.header__lower__bottom__list
            = link_to "å°èª¬", root_path,:style=>"color:#787c7b;"
          %li.header__lower__bottom__list
            = link_to "å†™çœŸ", root_path,:style=>"color:#787c7b;"
          %li.header__lower__bottom__list
            = link_to "ãƒ“ã‚¸ãƒã‚¹", root_path,:style=>"color:#787c7b;"
          %li.header__lower__bottom__list
            = link_to "ãƒ©ã‚¤ãƒ•ã‚¹ã‚¿ã‚¤ãƒ«", root_path,:style=>"color:#787c7b;"
          %li.header__lower__bottom__list
            = link_to "ãƒ†ã‚¯ãƒŽãƒ­ã‚¸ãƒ¼", root_path,:style=>"color:#787c7b;"
          %li.header__lower__bottom__list
            = link_to "ç­‹è‚‰", root_path,:style=>"color:#787c7b;"
          %li.header__lower__bottom__list
            = link_to "çŠ¬", root_path,:style=>"color:#787c7b;"

  .contents
    = yield



  .footer
    %ul.footer__lists
      %li.footer__list
        = link_to "ãƒŽãƒ¼ãƒˆãƒ—ãƒ¬ãƒŸã‚¢ãƒ ", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ã‚¯ãƒªã‚¨ãƒ¼ã‚¿ãƒ¼ã®æ–¹ã¸", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ã‚ˆãã‚ã‚‹è³ªå•", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ãƒŽãƒ¼ãƒˆ", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ãƒžã‚¬ã‚¸ãƒ³", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ãƒ¦ãƒ¼ã‚¶ãƒ¼", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ãƒãƒƒã‚·ãƒ¥ã‚¿ã‚°", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ãƒ—ãƒ©ã‚¤ãƒã‚·ãƒ¼", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ã”åˆ©ç”¨è¦ç´„", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ç‰¹å®šæ³•è¡¨è¨˜", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ãŠå•ã„åˆã‚ã›", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ç›®å®‰ç®±", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ã‚¯ãƒªã‚¨ãƒ¼ã‚¿ãƒ¼ã®æŽ¨è–¦", root_path,:style=>"color:#787c7b;"
