.wrapper
  .header
    .header__upper
      .header__upper__logo
        = link_to  root_path do
          %img{:alt => "note", :src => "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/logo-b84a1f9687168286cb1ca588b5aa4d761cd3f46e79d4ac36f0d331dfb1ed21ba.svg"}/
      %ul.header__upper__lists
        %li
          %form.header__upper__lists__note-botton
          / {:action => "/post_texts/new", :method => "get"}
          %ul.nav
            %li
              %input.header__upper__lists__note-botton__submit{:type => "button", :value => "ノートを投稿"}/
              %ul
                %li
                  = link_to "テキスト投稿", "/post_texts/new",:style=>"color:white;"
                %li
                  = link_to "イメージ投稿", "/post_images/new",:style=>"color:white;"

        %li
          .header__upper__lists__user-icon
            %ul.nav
              %li.header__upper__lists__user-icon__smile
                - if current_user.avatar_image?
                  = image_tag current_user.avatar_image
                - else
                  = fa_icon ("smile 3x")
                %ul
                  %li
                    = link_to "マイページ", user_path(current_user),:style=>"color:white;"
                  %li
                    = link_to "ノート一覧", post_texts_path,:style=>"color:white;"
                  %li
                    = link_to "マガジン一覧", root_path,:style=>"color:white;"
                  %li
                    = link_to "画像一覧", post_images_path,:style=>"color:white;"
                  %li
                    = link_to "アカウント設定", edit_user_registration_path,:style=>"color:white;"
                  %li
                    = link_to "ログアウト", destroy_user_session_path,:style=>"color:#787c7b;", :method => :delete,:style=>"color:white;"
        %li
          = fa_icon ("search 2x")
          = link_to "ユーザー検索", users_path
          = fa_icon ("search 2x")
          = link_to "タグ検索", users_path


    .header__lower
      .header__lower__top
        %ul.header__lower__top__lists
          %li.header__lower__top__list
            = link_to "ホーム", root_path,:style=>"color:white;"
          %li.header__lower__top__list
            = link_to "おすすめ", root_path,:style=>"color:white;"
          %li.header__lower__top__list
            = link_to "公式マガジン", root_path,:style=>"color:white;"
          %li.header__lower__top__list
            = link_to "募集中", root_path,:style=>"color:white;"
          %li.header__lower__top__list
            = link_to "ピックアップ", root_path,:style=>"color:white;"
          %li.header__lower__top__list
            = link_to "注目カテゴリー", root_path,:style=>"color:white;"
          %li.header__lower__top__list
            = link_to "人気タグ", root_path,:style=>"color:white;"
        .header__lower__top__right
          = link_to  do
            = fa_icon("question-circle 3x")

      .header__lower__bottom
        %ul.header__lower__bottom__lists
          %li.header__lower__bottom__list
            = link_to "マンガ", destroy_user_session_path,:style=>"color:#787c7b;", :method => :delete
          %li.header__lower__bottom__list
            = link_to "小説", root_path,:style=>"color:#787c7b;"
          %li.header__lower__bottom__list
            = link_to "写真", root_path,:style=>"color:#787c7b;"
          %li.header__lower__bottom__list
            = link_to "ビジネス", root_path,:style=>"color:#787c7b;"
          %li.header__lower__bottom__list
            = link_to "ライフスタイル", root_path,:style=>"color:#787c7b;"
          %li.header__lower__bottom__list
            = link_to "テクノロジー", root_path,:style=>"color:#787c7b;"
          %li.header__lower__bottom__list
            = link_to "筋肉", root_path,:style=>"color:#787c7b;"
          %li.header__lower__bottom__list
            = link_to "犬", root_path,:style=>"color:#787c7b;"

  .contents
    - @notes.each do |note|
      - if note.post_text_id
        = render partial: 'post_texts/post_text', locals: { post_text: note.post_text, like: @like }

      - elsif note.post_image_id
        = render partial: 'post_images/post_image', locals: { post_image: note.post_image, like: @like }

  .footer
    %ul.footer__lists
      %li.footer__list
        = link_to "ノートプレミアム", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "クリエーターの方へ", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "よくある質問", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ノート", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "マガジン", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ユーザー", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ハッシュタグ", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "プライバシー", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ご利用規約", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "特定法表記", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "お問い合わせ", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "目安箱", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "クリエーターの推薦", root_path,:style=>"color:#787c7b;"
