.wrapper
  .header
    .header__upper
      .header__upper__logo
        = link_to  root_path do
          %img{:alt => "note", :src => "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/logo-b84a1f9687168286cb1ca588b5aa4d761cd3f46e79d4ac36f0d331dfb1ed21ba.svg"}/
      %ul.header__upper__lists
        %li
          %form.header__upper__lists__note-botton
          / {:action => "/post_texts/new", :method => "get"}
          %ul.nav
            %li
              .header__upper__lists__note-botton__submit
                = fa_icon("edit") + "ノートを投稿"
              %ul
                %li
                  = link_to "テキスト投稿", "/post_texts/new", class: "link-green"
                %li
                  = link_to "イメージ投稿", "/post_images/new", class: "link-green"

        %li
          .header__upper__lists__user-icon
            %ul.nav
              %li.header__upper__lists__user-icon__smile
                - if current_user.avatar_image?
                  = image_tag current_user.avatar_image
                - else
                  = fa_icon ("smile 3x")
                %ul
                  %li
                    = link_to "マイページ", user_path(current_user),:style=>"color:white;"
                  %li
                    = link_to "ノート一覧", post_texts_path,:style=>"color:white;"
                  %li
                    = link_to "マガジン一覧", root_path,:style=>"color:white;"
                  %li
                    = link_to "画像一覧", post_images_path,:style=>"color:white;"
                  %li
                    = link_to "アカウント設定", edit_user_registration_path,:style=>"color:white;"
                  %li
                    = link_to "ログアウト", destroy_user_session_path,:style=>"color:#787c7b;", :method => :delete,:style=>"color:white;"
        %li
          = fa_icon ("search 2x")
          = link_to "ユーザー検索", users_path, class: "link-green"
          = fa_icon ("search 2x")
          = link_to "タグ検索", users_path, class: "link-green"

#account-edit-page.account-edit-page
  .account-edit-page__inner.clearfix
    .account-edit-page__inner-top.account-edit-page__header
      %h2 アカウント設定
      %ul.tab-menu
        %li.tabs.current
          %a{href: :edit}アカウント
        %li.tabs
          %a{href: :edit}購入履歴
        %li.tabs
          %a{href: :edit}カード情報
        %li.tabs
          %a{href: :edit}お支払い先
    .account-edit-page__inner-bottom.user-form
      = form_for(current_user) do |f|
        .field
          .field-label
            = "ニックネーム"
          .field-input
            = f.text_field :name, autofocus: true
        .field
          .field-label
            = "note33_id（一度登録すると変更できません）"
          - if current_user.note33_id?
            .field-input
              = current_user.note33_id
          - else
            .field-input
              = f.text_field :note33_id, autofocus: true
        .field
          .field-label
            = "メールアドレス"
          .field-input
            = f.email_field :email
        %h5 パスワードを変更する場合
        .field
          .field-label
            = "現在のパスワード"
          .field-input
            = f.password_field :current_password, autocomplete: "off"
        .field
          .field-label
            = "新しいパスワード"
          .field-input
            = f.password_field :password, autocomplete: "off"
        .field
          .field-label
            = "新しいパスワード再入力"
          .field-input
            = f.password_field :password_confirmation, autocomplete: "off"
        .actions
          = f.submit "更新する", class: 'btn'
