- if user_signed_in?
  - if post_text.like_user(current_user.id)
    = button_to post_text_like_path(like, post_text_id: post_text.id), method: :delete, id: "delete-like-button" do
      = fa_icon ("heart 2x")
      %span
        = post_text.likes_count
  - else
    = button_to post_text_likes_path(post_text), id: "like-button" do
      = fa_icon ("heart 2x")
      %span
        = post_text.likes_count
- else
  = fa_icon ("heart 2x")
  %span
    = post_text.likes_count

/ - if user_signed_in?
/   / -binding.pry
/   - if post_text.like_user(current_user.id).present?
/     = button_to post_text_like_path(like, post_text_id: post_text.id), method: :delete, id: "delete-like-button", remote: true do
/       = fa_icon ("heart 2x")
/       %span
/         = post_text.likes_count
/   - else
/     = button_to post_text_likes_path(post_text), id: "like-button", remote: true do
/       = fa_icon ("heart 2x")
/       %span
/         = post_text.likes_count
/ - else
/   = fa_icon ("heart 2x")
/   %span
/     = post_text.likes_count

