

/ - @post_texts.each do |post_text|
.contents__container
  .contents__container__top
    .contents__container__top__icon
      - if post_text.user.avatar_image?
        = image_tag post_text.user.avatar_image
      - else
        = fa_icon ("smile 2x")
    %ul
      %li
        .contents__container__top__nickname
          = link_to post_text.user.name, user_path(post_text.user), class: "link-green"
        .contents__container__top__date
          = post_text.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .contents__container__center
    .contents__container__center__headerimg
      - if post_text.header_image.present?
        = image_tag post_text.header_image, size: "580x300", alt: ""
    .contents__container__center__title
      = post_text.title
    .contents__container__center__text
      / - if post_text.text.present?
      /   = simple_format(post_text.text)
      / = truncate(post_text.text)
      = link_to '.....詳細を見る', post_text_path(post_text.id)

    .contents__container__center__img
      - if post_text.image.present?
        = image_tag post_text.image, size: "", alt: "" , :class =>".contents__container__center__img__2nd"
    .contents__container__center__tags
      = render 'post_texts/tag_list', tag_list: post_text.tag_list
    .contents__container__center__bottom
      .contents__container__center__bottom__left
        %ul
          %li
            #function_like
              = render partial: "post_texts/like", locals: { post_text: post_text, like: @like }
          %li
            .btn-group
              %button.btn.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}= fa_icon ("arrow-right 2x")
              .dropdown-menu
                .dropdown-item
                  %i.fab.fa-facebook.fa-2x
                  %a{:href => "https://www.facebook.com/"} Facebook

                .dropdown-item
                  %i.fab.fa-twitter-square.fa-2x
                  %a{:href => "https://twitter.com/"} Twitter


          %li
            = fa_icon ("plus 2x")
      .contents__container__center__bottom__right
        .btn-group
          %button.btn.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}= fa_icon ("ellipsis-h 2x")
          .dropdown-menu
            .dropdown-item
            = link_to "詳細", post_text_path(post_text.id), method: :get
            .dropdown-item
            - if user_signed_in? && current_user.id == post_text.user_id
              = link_to '編集', "/post_texts/#{post_text.id}/edit", method: :get
            .dropdown-item
            - if user_signed_in? && current_user.id == post_text.user_id
              = link_to '削除', "/post_texts/#{post_text.id}", method: :delete
        /
