.post__text
  .post__text__header
    .post__text__header__center
      = link_to  do
        %img{:alt => "note", :src => "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/logo-b84a1f9687168286cb1ca588b5aa4d761cd3f46e79d4ac36f0d331dfb1ed21ba.svg"}/

  .post__text__contents__center
    = form_for @post_text do |f|
      = f.label :header_image, class: 'post__text__contents__center__img' do
        = fa_icon ("image 5x")
        = f.file_field :header_image, class: 'post__text__contents__center__upload'
        = image_tag @post_text.header_image, size: "500x300", alt: "", id: :header_prev if @post_text.image?
        %p
          = f.check_box :remove_header_image
          画像を削除する

          <script type="text/javascript">
          $(function() {
          function readURL(input) {
          if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
          $('#header_prev').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
          }
          }
          $(".post__text__contents__center__upload").change(function(){
          readURL(this);
          });
          });
          </script>

      .post__text__contents__center__title
        = f.text_field :title, class: 'post__text__contents__center__title__text', placeholder: 'タイトルを入力'
      .post__text__contents__center__textarea
        = f.label :image, class: 'post__text__contents__center__textarea__text__img' do
          = fa_icon ("plus 2x")
          = fa_icon ("image 2x")
          = f.file_field :image, class: 'post__text__contents__center__textarea__text__img__upload'
          = image_tag @post_text.image, size: "400x300", alt: "", id: :img_prev if @post_text.image?
          %p
          = f.check_box :remove_image
          画像を削除する

          <script type="text/javascript">
          $(function() {
          function readURL(input) {
          if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
          $('#img_prev').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
          }
          }
          $(".post__text__contents__center__textarea__text__img__upload").change(function(){
          readURL(this);
          });
          });
          </script>

        = f.text_area :text, class: 'post__text__contents__center__textarea__text', placeholder: 'ノート本文'
      .form-group
        = f.label :topic_list, "タグ"
        %br/
        = f.text_field :tag_list, value: @post_text.tag_list.join(','), "data-role": "tagsinput", class: "form-control", placeholder: "半角スペース区切りで入力"
      .post__text__contents__center__submit
        = f.submit "投稿する", class: 'post__text__contents__center__submit__botton'
        = link_to "キャンセル", root_path,class: 'post__text__contents__center__submit__botton'


    .post__text__contents__right
      .post__text__contents__right__box


