.post__text
  .post__text__header
    .post__text__header__center
      = link_to  do
        %img{:alt => "note", :src => "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/logo-b84a1f9687168286cb1ca588b5aa4d761cd3f46e79d4ac36f0d331dfb1ed21ba.svg"}/
    .post__text__header__right
      %ul
        %li
          .post__text__header__right__cancel
            %form.post__text__header__right__cancel__botton{:action => "/", :method => "get"}
              %input.post__text__header__right__cancel__botton__submit{:type => "submit", :value => "ノートを投稿"}/
        %li
          .post__text__header__right__post
            %form.post__text__header__right__post__botton{:action => "/", :method => "get"}
              %input.post__text__header__right__post__botton__submit{:type => "submit", :value => "キャンセル"}/

  .post__text__contents__center
    = form_for @post_text do |f|
      = f.label :header_image, class: 'post__text__contents__center__img' do
        = fa_icon ("image 5x")
        = f.file_field :header_image, class: 'post__text__contents__center__upload'
      .post__text__contents__center__title
        = f.text_field :title, class: 'post__text__contents__center__title__text', placeholder: 'タイトルを入力'
      .post__text__contents__center__textarea
        = f.text_area :text, class: 'post__text__contents__center__textarea__text', placeholder: 'ノート本文'

      .post__text__contents__right
        .post__text__contents__right__box


