.wrapper
  .header
    .header__upper
      .header__upper__logo
        = link_to  root_path do
          %img{:alt => "note", :src => "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/logo-b84a1f9687168286cb1ca588b5aa4d761cd3f46e79d4ac36f0d331dfb1ed21ba.svg"}/
      %ul.header__upper__lists
        %li
          %form.header__upper__lists__note-botton{:action => "/post_texts/new", :method => "get"}
            %input.header__upper__lists__note-botton__submit{:type => "submit", :value => "ノートを投稿"}/
        %li
          .header__upper__lists__user-icon
            %ul.nav
              %li.header__upper__lists__user-icon__smile
                = fa_icon ("smile 3x")
                %ul
                  %li
                    = link_to "マイページ", root_path,:style=>"color:white;"
                  %li
                    = link_to "ノート一覧", post_texts_path,:style=>"color:white;"
                  %li
                    = link_to "マガジン一覧", root_path,:style=>"color:white;"
                  %li
                    = link_to "画像一覧", root_path,:style=>"color:white;"
                  %li
                    = link_to "アカウント設定", edit_user_registration_path,:style=>"color:white;"
                  %li
                    = link_to "ログアウト", destroy_user_session_path,:style=>"color:#787c7b;", :method => :delete,:style=>"color:white;"
        %li
          = fa_icon ("search 2x")
          = link_to "ユーザー検索", users_path
          = fa_icon ("search 2x")
          = link_to "タグ検索", users_path

  .contents
    .contents__container
      .contents__container__top
        .contents__container__top__icon
          - if @post_text.user.avatar_image?
            = image_tag @post_text.user.avatar_image
          - else
            = fa_icon ("smile 2x")
        %ul
          %li
            .contents__container__top__nickname
              / = @post_text.user.name
              = link_to @post_text.user.name, user_path(@post_text.user), class: "link-green"
            .contents__container__top__date
              = @post_text.created_at.strftime("%Y年%m月%d日 %H時%M分")

      .contents__container__center
        .contents__container__center__headerimg
          - if @post_text.header_image.present?
            = image_tag @post_text.header_image, size: "580x300", alt: ""
        .contents__container__center__title
          = @post_text.title
        .contents__container__center__text
          - if @post_text.text.present?
            = simple_format(@post_text.text)
        .contents__container__center__img
          - if @post_text.image.present?
            = image_tag @post_text.image, size: "470x300", alt: "" , :class =>".contents__container__center__img__2nd"
        .contents__container__center__tags
          = render 'post_texts/tag_list', tag_list: @post_text.tag_list
        .contents__container__center__bottom
          .contents__container__center__bottom__left
            %ul
              %li
                %a.link-green{"data-target" => "#magazine-modal", "data-toggle" => "modal"}マガ
                / = fa_icon ("plus 2x")
          .contents__container__center__bottom__right
            .btn-group
              %button.btn.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"} ●●●
              .dropdown-menu
                .dropdown-item
                - if user_signed_in? && current_user.id == @post_text.user_id
                  = link_to '編集', "/post_texts/#{@post_text.id}/edit", method: :get
                .dropdown-item
                - if user_signed_in? && current_user.id == @post_text.user_id
                  = link_to '削除', "/post_texts/#{@post_text.id}", method: :delete



  .footer
    %ul.footer__lists
      %li.footer__list
        = link_to "ノートプレミアム", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "クリエーターの方へ", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "よくある質問", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ノート", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "マガジン", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ユーザー", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ハッシュタグ", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "プライバシー", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "ご利用規約", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "特定法表記", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "お問い合わせ", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "目安箱", root_path,:style=>"color:#787c7b;"
      %li.footer__list
        = link_to "クリエーターの推薦", root_path,:style=>"color:#787c7b;"

  #magazine-modal.modal.fade{:role => "dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title マガジンリスト
        - if user_signed_in?
          .modal-body
            - @magazines.each do |magazine|
              .modal-magazine-list
                .modal-magazine-list__header-image
                  - if magazine.magazine_header_image?
                    = image_tag magazine.magazine_header_image
                  - else
                    %p
                .modal-magazine-list__name
                  = magazine.magazine_title
                .modal-magazine-list__add-btn
                  = render partial: 'magazines/add_btn', locals: { magazine: magazine, post_text: @post_text }
            .modal-magazine-list
              .modal-magazine-list__new
                = link_to, "マガジンを新規作成して追加", new_magazine_path(@post_text)
