.wrapper
  .header
    .header__upper
      .header__upper__logo
        = link_to  root_path do
          %img{:alt => "note", :src => "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/logo-b84a1f9687168286cb1ca588b5aa4d761cd3f46e79d4ac36f0d331dfb1ed21ba.svg"}/
      %ul.header__upper__lists
        %li
          %form.header__upper__lists__note-botton
          / {:action => "/post_texts/new", :method => "get"}
          %ul.nav
            %li
              .header__upper__lists__note-botton__submit
                = fa_icon("edit") + "ノートを投稿"
              %ul
                %li
                  = link_to "テキスト投稿", "/post_texts/new", class: "link-green"
                %li
                  = link_to "イメージ投稿", "/post_images/new", class: "link-green"

        %li
          .header__upper__lists__user-icon
            %ul.nav
              %li.header__upper__lists__user-icon__smile
                - if current_user.avatar_image?
                  = image_tag current_user.avatar_image
                - else
                  = fa_icon ("smile 3x")
                %ul
                  %li
                    = link_to "マイページ", user_path(current_user),:style=>"color:white;"
                  %li
                    = link_to "ノート一覧", post_texts_path,:style=>"color:white;"
                  %li
                    = link_to "マガジン一覧", root_path,:style=>"color:white;"
                  %li
                    = link_to "画像一覧", post_images_path,:style=>"color:white;"
                  %li
                    = link_to "アカウント設定", edit_user_registration_path,:style=>"color:white;"
                  %li
                    = link_to "ログアウト", destroy_user_session_path,:style=>"color:#787c7b;", :method => :delete,:style=>"color:white;"
        %li
          = fa_icon ("search 2x")
          = link_to "ユーザー検索", users_path, class: "link-green"
          = fa_icon ("search 2x")
          = link_to "タグ検索", users_path, class: "link-green"

.mypage.pageDisplay
  .mypage-header-image
    - if @user.header_image?
      = image_tag @user.header_image
  .mypage__header
    .mypage__header__left
      .mypage__header__left__image
        - if @user.avatar_image?
          = image_tag @user.avatar_image
        - else
          %p
            = fa_icon ("smile 6x")
    .mypage__header__right
      .mypage__header__right__top
        .mypage__header__right__top__left
          = @user.name
        .mypage__header__right__top__right
          - if user_signed_in?
            - if @user.id == current_user.id
              .dropdown
                %button#dropdownMenu1.btn.btn-default.btn-sm.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  ･･･
                %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
                  %li
                    %a{href: profile_user_path} プロフィールを編集する
                  %li
                    %a{:href => ""} Amazonウィジェットを追加
            - else
              .mypage__header__right__top__right__follow-btn
                = render 'follows/follow_btn', user: @user
          - else
      .mypage__header__right__middle
        - if @user.self_introduction?
          = @user.self_introduction
      .mypage__header__right__bottom
        .mypage__header__right__bottom__follow-no
          = @user.followings.count
        .mypage__header__right__bottom__follow-which
          %a.link-green{"data-target" => "#follow-modal", "data-toggle" => "modal"}フォロー
        .mypage__header__right__bottom__follow-no
          = @user.followers.count
        .mypage__header__right__bottom__follow-which
          %a.link-green{"data-target" => "#followers-modal", "data-toggle" => "modal"}フォロワー
  .mypage__second-header
    %ul.tab-menu
      %li.tabs.current
        %a{href: user_path}ホーム
      %li.tabs
        %a{href: magazines_user_path}マガジン

  .contents
    - @notes.each do |note|
      - if note.post_text_id
        = render partial: 'post_texts/post_text', locals: { post_text: note.post_text, like: @like}
      - elsif note.post_image_id
        = render partial: 'post_images/post_image', locals: { post_image: note.post_image, like: @like }

    / = render partial: magazines_user_path, locals: { post_text: post_text, like: @like }

  #follow-modal.modal.fade{:role => "dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title フォロー
        .modal-body
          - @user.followings.each do |user|
            .user-list
              .user-list__avatar
                - if user.avatar_image?
                  = image_tag user.avatar_image
                - else
                  %p
                    = fa_icon ("smile 5x")
              .user-list__name-and-id
                .user-list__name-and-id__name
                  = link_to user.name, user_path(user), class: "link-green"
                .user-list__name-and-id__note33id
                  = user.note33_id
              .mypage__header__right__top__right__follow-btn
                - if user_signed_in?
                  = render 'follows/follow_btn_sm', user: user
  #followers-modal.modal.fade{:role => "dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title フォロワー
        .modal-body
          - @user.followers.each do |user|
            .user-list
              .user-list__avatar
                - if user.avatar_image?
                  = image_tag user.avatar_image
                - else
                  %p
                    = fa_icon ("smile 5x")
              .user-list__name-and-id
                .user-list__name-and-id__name
                  = link_to user.name, user_path(user), class: "link-green"
                .user-list__name-and-id__note33id
                  = user.note33_id
              .mypage__header__right__top__right__follow-btn
                - if user_signed_in?
                  = render 'follows/follow_btn_sm', user: user
