#mypage.mypage.pageDisplay
  .mypage__header
    .mypage__header__left
      .mypage__header__left__image
        - if @user.avatar_image?
          = image_tag @user.avatar_image
    .mypage__header__right
      .mypage__header__right__top
        .mypage__header__right__top__left
          = @user.name
        .mypage__header__right__top__right
          - if user_signed_in?
            %ul.dropdown
              %li
                - if @user.id == current_user.id
                  %a{:href => ""} ･･･
                  %ul.profile-navi
                    %li
                      %a{:href => profile_user_path} プロフィールを編集する
                    %li
                      %a{:href => "#"} Amazonウィジェットを追加
                - else
                  .mypage__header__right__top__right__follow-btn
                    = render 'follows/follow_btn', user: @user
                    / = fa_icon ("user")
                    / フォローする
          - else
      .mypage__header__right__middle
        - if @user.self_introduction?
          = @user.self_introduction
      .mypage__header__right__bottom
        .mypage__header__right__bottom__follow-no
          = @user.followings.count
        .mypage__header__right__bottom__follow-which
          フォロー
        .mypage__header__right__bottom__follow-no
          = @user.followers.count
        .mypage__header__right__bottom__follow-which
          フォロワー
  .mypage__second-header
    %ul.tab-menu
      %li.tabs.current
        %a{href: user_path}ホーム
      %li.tabs
        %a{href: user_path}マガジン
  .mypage__body
