.magazine-new-page
  = form_for(@magazine) do |f|
    .magazine-new-page__header
      .magazine-new-page__header__image
        - if @magazine.magazine_header_image
          = image_tag @magazine.magazine_header_image
        %p ヘッダー画像を更新
        .magazine-new-page__header__image__select
          = f.label :magazine_header_image
        = f.file_field :magazine_header_image, style: "display:none;", multipart: true
      .magazine-new-page__header__contents
        .magazine-new-page__header__contents__top
          .field-label
            = "マガジンタイトル(30字以内)"
          .field-input
            = f.text_field :magazine_title, placeholder: "（例）お気に入りまとめ", maxlength: 30
        .magazine-new-page__header__contents__middle
          .field-label
            = "マガジンの説明(400字以内)"
          = f.text_area :magazine_description, placeholder: "（例）ステキなクリエイターさんたちの素晴らしいノートをまとめています。", maxlength: 400
        .magazine-new-page__header__contents__bottom
          .field-input
            = f.hidden_field :magazine_author_id, value: current_user.id
          .magazine-new-page__header__contents__bottom__cancel-btn
            .cancel-btn
              = link_to "キャンセル", root_path
          .magazine-new-page__header__contents__bottom__submit-btn
            = f.submit "作成する", class: 'btn'
