#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner-top.account-page__header
      = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/logo-b84a1f9687168286cb1ca588b5aa4d761cd3f46e79d4ac36f0d331dfb1ed21ba.svg", alt: "note"
    .account-page__inner-bottom.user-form
      %h4 ログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .field-label
            = "メールアドレス"
          .field-input
            = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          .field-label
            = "パスワード"
          .field-input
            = f.password_field :password, autocomplete: "current-password"
          - if devise_mapping.rememberable?
            .field-label
              = f.check_box :remember_me
              = f.label :remember_me
        .actions
          = f.submit "ログイン", class: 'btn'
      %h5
        会員登録は
        %a.link-green{href: "/users/sign_up"} こちら




