- if user_signed_in?
  - if post_image.like_user(current_user.id)
    = button_to post_image_like_path(like, post_image_id: post_image.id), method: :delete, id: "delete-like-button" do
      = fa_icon ("heart 2x")
      %span
        = post_image.likes_count
  - else
    = button_to post_image_likes_path(post_image), id: "like-button" do
      = fa_icon ("heart 2x")
      %span
        = post_image.likes_count
- else
  = fa_icon ("heart 2x")
  %span
    = post_image.likes_count
