.post__image
  .post__image__header
    .post__image__header__center
      = link_to  do
        %img{:alt => "note", :src => "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/logo-b84a1f9687168286cb1ca588b5aa4d761cd3f46e79d4ac36f0d331dfb1ed21ba.svg"}/

  .post__image__contents__center
    = form_for @post_image do |f|
      = f.label :image, class: 'post__image__contents__center__img' do
        = fa_icon ("image 5x")
        = f.file_field :image, class: 'post__image__contents__center__upload'
        = image_tag @post_image.image, size: "500x400", alt: "", id: :image_prev if @post_image.image?
        %p

          <script type="text/javascript">
          $(function() {
          function readURL(input) {
          if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
          $('#image_prev').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
          }
          }
          $(".post__image__contents__center__upload").change(function(){
          readURL(this);
          });
          });
          </script>

      .post__image__contents__center__title
        = f.text_field :title, class: 'post__image__contents__center__title__image', placeholder: 'タイトルを入力'

        = f.text_area :image_description, class: 'post__image__contents__center__textarea__text', placeholder: 'ノート本文'

      .post__image__contents__center__submit
        = f.submit "編集する", class: 'post__image__contents__center__submit__botton'
        = link_to "キャンセル", root_path,class: 'post__image__contents__center__submit__botton'


    .post__image__contents__right
      .post__image__contents__right__box


